body {
    font-family: 'Roboto', sans-serif;
    background-color: #000000;
    color: #000;
    margin: 0;
    line-height: 1.6;
}

.logo {
    max-height: 50px; /* Adjust this value as needed */
    width: auto;      /* Maintains aspect ratio */
}

.navbar {
    background-color: #000;
    padding: 1rem;
    text-align: left;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.navbar {
    background-color: #000;
    padding: 1rem;
    text-align: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.navbar h1 {
    margin: 0;
    font-size: 2rem;
}

.content {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 1rem;
    text-align: center;
}

.team {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 3rem;
}

.team-member {
    background: #222;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 150px;
    text-align: center;
    color: #fff;
}

.team a {
    text-decoration: none; /* Removes the underline */
    color: inherit;        /* Inherits the text color from the parent */
}


.team-member img {
    width: 80%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.reports {
    background: #222;
    padding: 2rem;
    margin-top: 3rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #fff;
}

.reports h2 {
    margin-bottom: 1rem;
    color: #fff;
}

.reports ul {
    list-style-type: none;
    padding: 0;
}

.reports li {
    margin-bottom: 0.5rem;
}

.reports a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}